@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.container_card_movie{
    width: 470px;height: 150px;
    margin: 20px;
    background-color: rgb(177, 12, 214);
    color: black;
    box-shadow: 2px 6px 5px #00000082;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
}

.container_card_movie img{
    height: 100%;
    width: 80%;
}

.card_content{
    width: 80%;
    display: flex;
}

.card_content_txt{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 20px;
    padding: 10px   ;
}

.container_list{
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    padding-top: 15px ;
    margin-top: 20px;
}

.container_list::-webkit-scrollbar {
    display: none;
  }

.search_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
}   

.frase{
    margin-top: 20px;
    font-family: sans-serif;
    font-weight: none;
    font-size: 23px;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo{
    width: 290px;
    height: 200px;
}